@mixin gradientVertical($start, $end, $fallback) {
    background: $fallback;
    background: -moz-linear-gradient(top,  $start 0%, $end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $start 0%,$end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start 0%,$end 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $start 0%,$end 100%); /* W3C */
}
@mixin gradientRadial($middle, $sides, $fallback) {
    background: $fallback;
    background: -moz-linear-gradient(left,  $sides 0%, $middle 50%, $sides 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $sides), color-stop(50%, $middle), color-stop(100%, $sides)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $sides 0%, $middle 50%, $sides 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $sides 0%, $middle 50%, $sides 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $sides 0%, $middle 50%, $sides 100%); /* IE10+ */
    background: linear-gradient(to right,  $sides 0%, $middle 50%, $sides 100%); /* W3C */
}
@mixin textClip() {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
$yellow: #fb6a00;
$orange: #fb6a00;
$pink: #d81463;
$grey: #e0e0e0;
$black: #1c1c1c;
@import 'reset';
@import 'utilities';
@import 'typography';
@import 'images';

html {
    background: $grey;
}

body {
    position: relative;
    margin: 0 auto;
    &.is-scrolling {
        overflow: hidden;
    }
}
p {
    &:after {
        content: "";
        display: block;
        margin-bottom: 1em;
    }
}
.textContainer {
    max-width: 520px;
    margin: 0 auto;
}
.button {
    position: relative;
    cursor: pointer;
    text-decoration: none !important;
    border: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding: 7px 14px;
    // box-shadow: 0 0 18px rgba(black, 0.25);
    &:focus {
        outline: none;
    }
    span {
        position: relative;
    }
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
    @media (max-width: 1024px) {
        position: absolute;
    }
}
.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 4;
}
.page {
    position: relative;
    z-index: 4;
    height: 100vh;
    width: 100%;
}
.padding {
    padding: 60px 20px 20px;
}


.cta {
    cursor: pointer;
    display: table;
    margin: 20px auto 0;
    padding: 2px 14px;
    font-size: 18px;
    border: 1px solid $orange;
    line-height: 30px;
    background: white;
    transition: 0.2s;
    &:hover {
        padding: 2px 21px;
    }
    &:active {
        padding: 2px 14px;
        transition: none;
    }
}

.homePage {
    position: fixed;
    z-index: 2;
}
.homePage-header {
    padding-top: 120px;
}
.homePage-faded {
    opacity: 0;
}

.cutOut {
    position: relative;
    z-index: 1;
    @include textClip();
}
.cutOut-backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cutOut-background {
    display: inline;
}



.expander {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &.is-expanded {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: 0.25s ease;
        z-index: 1;
    }
}


.quote {
    margin: 0;
    font-weight: 100;
    font-style: italic;
}
.socialIcon {
    background: white;
    &:hover {
        color: $orange;
    }
    color: $black;
    text-decoration: none;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.websiteLink {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.me {
    max-width: 100%;
    margin-top: 20px;
    width: 160px;
    border-radius: 50%;
}

.background-white {
    background: white;
}
.background-black {
    background: $black;
}
.background-blackTransparent {
    background: $black;
    opacity: 0.8;
}
.background-grey {
    background: $grey;
}
.background-yellow {
    background: $yellow;
}
.background-pink {
    background: $pink;
}
.color-transparent {
    color: transparent;
}
.color-pink {
    color: $pink;
}
.background-orange {
    background: $orange;
}
.color-orange {
    color: $orange;
}
.color-white {
    color: white;
}