.hero {
	text-align: center;
	max-width: 740px;
	margin: 0 auto;
}
.hero .pull-left span {
	margin-bottom: 3px;
}
.hero .pull-left {
	text-align: right;
}
.hero .pull-right {
	text-align: left;
	padding-left: 1em;
	padding-top: 86px;
}




.animate-before {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateZ(0);
	-webkit-filter: blur(5px);
	-webkit-transition: -webkit-filter 2.2s ease, opacity 1s ease;
}
.animate-before-2 {
	-webkit-transition: -webkit-filter 2.3s ease, opacity 1.5s ease;
}
.animate-before-3 {
	-webkit-transition: -webkit-filter 2.4s ease, opacity 2s ease;
}
.animate-before-4 {
	-webkit-transition: -webkit-filter 2.5s ease, opacity 2.5s ease;
}
.animate-after {
	visibility: visible;
	opacity: 1;
	-webkit-filter: blur(0px);
}



@media (max-width: 767px) {
	.hero {
		max-width: 440px;
	}
	.hero .pull-left {
		float: none;
		text-align: inherit;
	}
	.hero .pull-right {
		padding: 24px 12px 0;
		text-align: inherit;
	}
	.animate-before {
		opacity: 1;
		visibility: visible;
		-webkit-filter: blur(0);
	}
}
@media (max-width: 320px) {
	.hero .pull-right {
		padding: 12px 12px 0;
	}
	.hero p.f-large {
		padding-bottom: 26px;
	}
}
.blurrybg {
	background-image: url("../images/hover.gif");
	background-size: cover;
	color: white;
	text-align: center;
}