.superscript {
	margin-bottom: 3px;
}
.hi-im {
	padding-right: 313px;
}
.short-width {
	max-width: 360px;
}
.offset-top-1 {
	padding-top: 91px;
}
.offset-bottom-1 {
	padding-bottom: 91px;
}
.offset-top-2 {
	padding-top: 40px;
}
.offset-bottom-2 {
	padding-bottom: 40px;
}
.offset-top-3 {
	padding-top: 40px;
}
.offset-bottom-3 {
	padding-bottom: 40px;
}

.me-blurry {
	@include cover();
	background-image: url('../images/me-blurry.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.3;
	transition: 1s ease;
	pointer-events: none;
}
.me {
	position: relative;
	z-index: 1;
	border-radius: 50%;
	border-bottom-left-radius: 0;
	transition: 1s ease;
	margin-bottom: 18px;
	box-shadow: 0 2px 5px rgba(black, 0.15), 0 0 20px rgba(black, 0.12);
	&:hover {
		border-radius: 0;
		+ .me-blurry {
			opacity: 1;
		}
	}
}

.img-viewer {
	position: relative;
	background: #eee;
	height: 90vh;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(black, 0.25), 0 0 20px rgba(black, 0.4);
	/* &:after {
		content: "";
		@include cover;
		box-shadow: inset 0 2px 5px rgba(black, 0.25), inset 0 0 20px rgba(black, 0.4);
	} */
	img {
		position: absolute;
		height: 100%;
	}
}
h1 + p {
	clear: right;
}


.animate-before {
	opacity: 0;
	-webkit-transform: translateZ(0);
	-webkit-transition: 2s ease;
}
.animate-after {
	opacity: 1;
}



@media (max-width: 767px) {
	.hero {
		max-width: 440px;
	}
	.animate-before {
		opacity: 1;
		visibility: visible;
		-webkit-filter: blur(0);
	}
}
@media (max-width: 320px) {
}











section {
	position: relative;
	padding: 0 15px;
	&.dark {
		color: white;
	}
	&.bg-white {
		background: white;
	}
	&.bg-blue {
		@include gradient(#0c1707, #243638);
		.text {
			// position: relative;
			@include text-gradient(#fdeeb5, #e95f5c);
		}
		a {
			color: #A6BDE0;
		}
	}
	&.bg-black {
		@include gradient(#000, #3d3d3d);
		.text {
			position: relative;
			@include text-gradient(#fff, #e0e0e0);
		}
		a,
		button {
			$yellow: #ffb800;
			color: $yellow;
			border-color: initial;
			border-width: 2px;
			box-shadow: 0 2px 5px rgba($yellow, 0.15), 0 0 20px rgba($yellow, 0.12);
			&:hover {
				box-shadow: 0 2px 8px rgba($yellow, 0.35), 0 0 30px rgba($yellow, 0.32);
				&:active {
					box-shadow: none;
					border-color: initial;
				}
			}
		}
	}
	&.bg-wheat {
		@include gradient(#c6bfad, #d1d2cd);
		.text {
			position: relative;
			color: #333;
			// @include text-gradient(#b5af89, #f3f5ea);
		}
		a {
			&:hover {
				color: #b15a3c;
			}
		}
	}
	.text {
		a,
		button {
			-webkit-text-fill-color: initial;
		}
	}
}