*,
*:before,
*:after {
	padding: 0;
	border: 0;
	margin: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	@include clearfix();
}

.container {
	margin: 0 auto;
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
	@include clearfix();
	max-width: 1920px;
	&.wide {
		max-width: none;
	}
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.grid {
	// float: left;
	padding: 0 15px;
	@include clearfix();
}
.grid-4-12 {
	width: 33.33%;
}
.grid-5-12 {
	width: 41.66%;
}
.grid-6-12 {
	width: 50%;
}
.grid-7-12 {
	width: 58.33%;
}
.grid-8-12 {
	width: 66.66%;
}
@media (max-width: 767px) {
	.grid-4-12,
	.grid-5-12,
	.grid-6-12,
	.grid-7-12,
	.grid-8-12 {
		width: 100%;
	}
}
img {
	display: block;
}