@font-face {
  font-family: 'ATC Overlook';
  src: url("../fonts/ATCOverlook-Heavy.eot");
  src: url("../fonts/ATCOverlook-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/ATCOverlook-Heavy.woff") format("woff"), url("../fonts/ATCOverlook-Heavy.ttf") format("truetype"), url("../fonts/ATCOverlook-Heavy.svg#e66f84803eb699012366a69da3d2a854") format("svg");
  font-style: normal;
  font-weight: 600; }
*,
*:before,
*:after {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

body {
  font-family: "Merriweather", Georgia, Serif;
  font-size: 24px;
  line-height: 30px;
  color: black;
  -webkit-text-size-adjust: none;
  overflow-x: hidden; }

.uppercase {
  text-transform: uppercase; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

h1, h2, h3, h4 {
  font-family: "ATC Overlook", Arial, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 96px;
  line-height: 72px;
  margin-bottom: 2px;
  padding-bottom: 12px; }

h2 {
  font-size: 72px;
  line-height: 60px;
  margin-bottom: -1px;
  padding-bottom: 12px; }

h3 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: -5px;
  padding-bottom: 12px; }

h4 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: -6px;
  padding-bottom: 12px; }

.f-large {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: -9px; }

.f-medium {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: -8px; }

.f-small {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: -7px; }

p.f-large {
  padding-bottom: 36px;
  max-width: 36em;
  margin: 0 auto; }
p.f-medium {
  padding-bottom: 30px; }
p.f-small {
  padding-bottom: 18px; }

input,
textarea {
  display: block;
  font-family: inherit;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid; }

button {
  font-family: "ATC Overlook";
  font-size: 24px;
  text-transform: uppercase;
  padding: 5px 30px 8px;
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease; }
  button:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25), 0 0 30px rgba(0, 0, 0, 0.17); }
    button:hover:active {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-color: #bbb;
      transition: box-shadow 0.1s ease; }
  button:focus {
    outline: none; }

@media (max-width: 767px) {
  h1 {
    font-size: 60px;
    line-height: 48px;
    margin-bottom: 0px; }

  h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: -5px; }

  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: -6px; }

  h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: -5px; }

  .f-large {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: -8px; }

  .f-medium {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: -7px; }

  .f-small {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: -5px; } }
