<!-- <footer id="footer" role="contentinfo">
	<ul class="social-icons">
		<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
		<li><a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
		<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>               
	</ul> 
</footer> -->

<!-- Javascripts ______________________________________-->
<script src="/assets/js/jquery.min.js"></script> 
<script src="/assets/js/retina.min.js"></script> 
<!-- include image popups -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script> 
<!-- include mousewheel plugin -->
<script src="/assets/js/jquery.mousewheel.min.js"></script>
<!-- include video plugin -->
<script src="/assets/js/backgroundVideo.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="/assets/js/jquery.cycle.min.js"></script>
<!-- include carousel plugins -->
<script src="/assets/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="/assets/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="/assets/js/scripts.js"></script>

<script>
	$(document).ready(function() {
		$('#my-video').backgroundVideo({
			pauseVideoOnViewLoss: false
		});
	});

	/* Formspree Contact Form */
	$(document).on('click', '#submit', function(e){
		e.preventDefault(); // prevent the form to do the post.

		var contactForm = $("#contactform")[0],
		inputName = $("#contactform").find("#name"),
		inputEmail = $("#contactform").find("#email"),
		inputMessage = $("#contactform").find("#comments"),
		sendButton = $("#contactform").find("#submit");

		sendButton.attr("data-text", "Sending...");

		var xhr = new XMLHttpRequest();
		xhr.open('POST', '//formspree.io/ruxandra.balcangiu@gmail.com', true);
		xhr.setRequestHeader("Accept", "application/json")
		xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")

		xhr.send(
			"name=" + inputName.val() +
			"&email=" + inputEmail.val() +
			"&message=" + inputMessage.val());

		xhr.onloadend = function (res) {
			if (res.target.status === 200){
				$('#message').text('Thanks for contacting me! I\'ll be in touch as soon as I can.').removeClass('hidden');
				$('#contactform').hide();
				// Clear form values
				inputName.val('').removeClass('is-notEmpty');
				inputEmail.val('').removeClass('is-notEmpty');
				inputMessage.val('').removeClass('is-notEmpty');
			}
			else {
				// toggleContactModal('error', 'Something went wrong. Please double check your details.');
			}
			setTimeout(function() {
				sendButton.attr("data-text", "Submit");	
			}, 1000);
		}
	});
</script>