<script src="https://use.typekit.net/mhp8kro.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- <script src="/assets/js/fastclick.js"></script> -->
<!-- <script src="/assets/js/instantclick.min.js"></script> -->
<script src="/assets/js/jquery.vide.min.js"></script>
<script src="/assets/js/script.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,500,500italic,700,700italic,300,300italic,100italic,100' rel='stylesheet' type='text/css'>