<footer id="footer" role="contentinfo">
	<ul class="social-icons">
		<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
		<li><a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
		<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>               
	</ul> 
</footer>

<!-- Javascripts ______________________________________-->
<script src="/assets/js/jquery.min.js"></script> 
<script src="/assets/js/retina.min.js"></script> 
<!-- include image popups -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script> 
<!-- include mousewheel plugin -->
<script src="/assets/js/jquery.mousewheel.min.js"></script>
<!-- include video plugin -->
<script src="/assets/js/backgroundVideo.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="/assets/js/jquery.cycle.min.js"></script>
<!-- include carousel plugins -->
<script src="/assets/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="/assets/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="/assets/js/scripts.js"></script>

<script>
	$(document).ready(function() {
		$('#my-video').backgroundVideo({
			pauseVideoOnViewLoss: false
		});
	});
</script>