body {
	padding-top: 44px;
}
.m-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: white;
	margin: -$rhythm / 2;
	margin-top: 0;
	margin-bottom: $rhythm / 2;
	font-size: $font-size-sm;
	@include clearfix();
	height: 44px;
}
.m-header-title,
.m-header-link {
	padding: 13px 4px 3px;
	&,
	.no-touch &:focus,
	.no-touch &:hover,
	.touch &:active {
		background: none;
	}
}
.m-header-title {
	display: none;
	color: inherit;
	font-family: $font-header;
	text-decoration: none;
}
.m-header-nav {
	display: table;
	margin: 0 auto;
}
.m-header-link {
	display: inline-block;
	font-family: $font-header;
	text-decoration: none;
	color: inherit;
	+ .m-header-link {
		margin-top: 0;
		margin-left: $rhythm;
	}
	&.active {
		color: $pink;
		border-bottom: 2px solid;
	}
}
#home {
	.m-header {
		display: none;
	}
}

@media (min-width: 768px) {
	body {
		padding-top: 0;
	}
	.m-header {
		height: auto;
		position: absolute;
		top: -$rhythm;
		left: -4px;
		right: -4px;
		margin: 0;
		z-index: 2;
		background: none;
	}
	.m-header-nav {
		display: block;
		float: right;
	}
	.m-header-title,
	.m-header-link {
		line-height: 1;
		vertical-align: top;
		padding-top: 7px;
	}
	.m-header-title {
		display: block;
		float: left;
	}
}

@media (min-width: 1024px) {
	.m-header {
		top: -$rhythm * 1.5;
		margin-top: 7px;
		font-size: 1rem;
	}
}