.m-schedule {
	background: white;
	padding: $rhythm / 2;
	margin-left: -$rhythm / 2;
	margin-right: -$rhythm / 2;
	font-family: $font-mono;
	font-size: $font-size-sm;
	color: $mono-30;
	li + li {
		margin-top: $rhythm / 2;
	}
}
.m-schedule-time {
	color: $mono-60;
}